loading-text {
  .letter-holder {padding: 0px;}
  .letter {
      font-size: 14pt;
      color: #fff;
      font-weight: bold;
  }
  .load-6 {
    & .letter {
      animation-name: loadingF;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-direction: linear;
      margin: 0px .5px;
    }
  }
  .l-1 {animation-delay: .48s;}
  .l-2 {animation-delay: .6s;}
  .l-3 {animation-delay: .72s;}
  .l-4 {animation-delay: .84s;}
  .l-5 {animation-delay: .96s;}
  .l-6 {animation-delay: 1.08s;}
  .l-7 {animation-delay: 1.2s;}
  .l-8 {animation-delay: 1.32s;}
  .l-9 {animation-delay: 1.44s;}
  .l-10 {animation-delay: 1.56s;}
  @keyframes loadingF {
    0% {opacity: 0.3;}
    100% {opacity: 1;}
  } 
}
