<ion-header>
  <ion-navbar color='primary'>
    <ion-title>
      <ng-container *ngIf="examSchedule; else isLoading">
        Lịch thi {{examSchedule.nameStudent}}
      </ng-container>
      <ng-template #isLoading>
        <loading-text *ngIf="!errorMsg"></loading-text>
        <ng-container *ngIf="errorMsg">Không thể truy cập</ng-container>
      </ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="examSchedule && listInfoUpdate && listInfoUpdate.length > 0">
    <ion-card-header>
      Thông báo cập nhật lịch thi
    </ion-card-header>
    <ion-card-content class="non_padding">
      <ion-list>
        <ion-item (click)="openURL(item.link)" *ngFor="let item of listInfoUpdate" detail-push>
          {{item.title}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ng-container *ngIf="examSchedule; else listEmpty">
    <ion-list>
      <ion-item-sliding [ngClass]="{'disable_item-list': compareTimeSchedule(item)}" #ItemSliding *ngFor="let item of examSchedule.examSchedule; let idSchedule = index">
        <ion-item>
          <h2 class="item__exam">
            <strong>Môn thi:</strong> {{item.class}}
          </h2>
          <h2 class="item__exam">
            <strong>Mã lớp:</strong> {{item.idClass}}
          </h2>
          <h2 class="item__exam">
            <strong>STT:</strong> {{item.orderNumber}}
          </h2>
          <h2 class="item__exam">
            <strong>Ngày thi:</strong> {{item.date}}
          </h2>
          <h2 class="item__exam">
            <strong>Ca thi:</strong> {{item.shirt}} - ({{item.hours}})
          </h2>
          <h2 class="item__exam">
            <strong>Phòng thi:</strong> {{item.room}}
          </h2>
          <ng-container *ngIf="listSchedule && listSchedule.length > 0">
            <ng-container *ngFor="let listItem of listSchedule">
              <ng-container *ngIf="item.idClass == listItem.data">
                <div class="flex flex_center__vertical space_between">
                  <p class="flex flex_center__vertical">
                    <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
                    <span class="mar_left_5">{{listItem.at | formattime}}</span>
                  </p>
                  <ion-toggle checked="true"></ion-toggle>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </ion-item>
        <ion-item-options side="left">
          <button (click)="openRoomModal(item.idClass, item.room, examSchedule.idStudent)" ion-button color="secondary">
            <ion-icon ios="ios-people" md="md-people"></ion-icon>
            Danh sách phòng thi
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button (click)="openDatePicker(item, idSchedule)" ion-button color="danger">
            <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
            Thông báo
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>
  <ng-template #listEmpty>
    <ion-list *ngIf="!errorMsg">
      <ion-item>
        <loading-room></loading-room>
      </ion-item>
      <ion-item>
        <loading-room></loading-room>
      </ion-item>
      <ion-item>
        <loading-room></loading-room>
      </ion-item>
    </ion-list>
    <ng-container *ngIf="errorMsg">
      <not-found [message]="errorMsg"></not-found>
    </ng-container>
  </ng-template>
</ion-content>