<ion-header>
  <ion-navbar color='primary'>
    <ion-title>
      <ng-container *ngIf="examSchedule; else isLoading">
        Lịch thi {{examSchedule.nameStudent}}
      </ng-container>
      <ng-template #isLoading>
        <loading-text *ngIf="!errorMsg"></loading-text>
        <ng-container *ngIf="errorMsg">Không thể truy cập</ng-container>
      </ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ng-container *ngIf="examSchedule; else listEmpty">
    <ion-list>
      <ion-item-sliding #ItemSliding *ngFor="let item of examSchedule.examSchedule; let indexSchedule = index">
        <ion-item>
          <h2 class="item__exam">
            <strong>Môn thi:</strong> {{item.class}}
          </h2>
          <h2 class="item__exam">
            <strong>Mã lớp:</strong> {{item.idClass}}
          </h2>
          <h2 class="item__exam">
            <strong>STT:</strong> {{item.orderNumber}}
          </h2>
          <h2 class="item__exam">
            <strong>Ngày thi:</strong> {{item.date}}
          </h2>
          <h2 class="item__exam">
            <strong>Ca thi:</strong> {{item.shirt}} - ({{item.hours}})
          </h2>
          <h2 class="item__exam">
            <strong>Phòng thi:</strong> {{item.room}}
          </h2>
        </ion-item>
        <ion-item-options side="left">
          <button (click)="openRoomModal(item.idClass, item.room, examSchedule.idStudent)" ion-button color="secondary">
            <ion-icon ios="ios-people" md="md-people"></ion-icon>
            Danh sách phòng thi
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button (click)="picker.open()" ion-button color="danger">
            <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
            Thông báo
            <ion-datetime (ionChange)="changeDate($event, item)" cancelText="Hủy" doneText="Đặt lịch" 
            class="displayNone" [min]="dateMin(item.date, item.hours)" [max]="dateMax(item.date, item.hours)" 
            #picker displayFormat="DD MM YYYY HH:mm" [(ngModel)]="myDate">
            </ion-datetime>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>
  <ng-template #listEmpty>
    <ion-list *ngIf="!errorMsg">
      <ion-item>
        <loading-room></loading-room>
      </ion-item>
      <ion-item>
        <loading-room></loading-room>
      </ion-item>
      <ion-item>
        <loading-room></loading-room>
      </ion-item>
    </ion-list>
    <ng-container *ngIf="errorMsg">
      <not-found [message]="errorMsg"></not-found>
    </ng-container>
  </ng-template>
</ion-content>