page-exam-schedule {
    .toolbar-title-ios {
        & > div {
            justify-content: center;
        }
    }
    .label-md {
        padding-top: 5px;
        margin: 15px 5px;
    }
    .item__exam {
        margin: 4px 0px !important;
    }
    .item-md {
        padding: 0px 10px;
    }
    .item-md .toggle-md {
        padding: 8px;
    }
    .disable_item-list {
        pointer-events: none;
        & .item-md, .item-block {
            background: rgb(102, 102, 102);
            text-decoration: line-through;
        }
    }
}