<ion-header>
  <ion-navbar color='primary'>
    <ion-title text-center>
      <div class="flex flex_center__horizontal">
        <i class="material-icons">event_note</i>
        <span class="mar_left_7">UIT Exam Schedule</span>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content scrollDownOnLoad="true">
  <div class="wrapper">
    <form [formGroup]="frm" (ngSubmit)="openNewPage(frm.value.search)">
      <ion-searchbar type="number" placeholder="Mã số sinh viên..." formControlName="search" [showCancelButton]="shouldShowCancel">
      </ion-searchbar>
      <alert-error *ngIf="formErrors.search" [message]="formErrors.search"></alert-error>
    </form>
    <ion-card class="card_home" [ngClass]="{'card_down': formErrors.search}">
      <ion-card-header>
        Hoạt động gần đây
      </ion-card-header>
      <ion-card-content *ngIf="listLogs">
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let log of listLogs" col-12>
              <log-item [log]="log"></log-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-card-content *ngIf="!listLogs">
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
            <ion-col col-12>
              <loading-student></loading-student>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>