@import '../../theme/_content.scss';
@import '../../theme/_utilities.scss';
@import '../../theme/variables.scss';
@import '../../theme/_badge.scss';

.wrapper {
  width: 95%;
  margin: 0px 2.5%;
  position: fixed;
  top: 55px;
}
form {
  position: absolute;
  top:10px;
  z-index: 2;
  width: 100%;
}
.card_home {
  position: absolute;
  transition: top 0.3s ease-out;
  top: 90px;
  left: 8px;
  margin: 0px;
  width: calc(100% - 16px);

}
.card_down {
  top:135px;
}
.card-md {

}
.card-ios {
  left: 4px;
  width: calc(100% - 33px);
}
