.block_center {
  display: table;
  margin: 0px auto;
}
.flex {
  display: flex;
}
.flex_column {
  flex-direction: column;
}
.flex_center__horizontal {
  justify-content: center;
}
.flex_center__vertical {
   align-items: center;
}
.space_between {
  justify-content: space-between;
}
.mar_left_7 {
  margin-left: 7px;
}
.mar_left_5 {
  margin-left: 5px;
}
.pad_10_15 {
  padding: 10px 15px;
}
.mar_10_0 {
  margin: 10px inherit;
}
.non_padding {
  padding: 0px;
}
.non_margin {
  margin: 0px;
}
.non_pad_mar {
  @extend .non_margin;
  @extend .non_padding;
}
.disabled_boxShadow {
  box-shadow: initial !important;
}
.displayNone {
  display: none !important;
}
@mixin box-shadow($right, $top, $size, $color) {
  box-shadow: $right $top $size $color;
}
